<html>
<body dir="rtl">
לצוות ט.מ.ל פנסיה, 
<br><br>
לקוח #{{accountantKey}}, שם חברה: {{companyName}},
<br>
<br>
התקבל מסמך
<br>
{{fileName}}, 
<br>
ללא ממשק קיים לקופת הגמל, נשלח לאחסון מקומי מספר #{{hubId}},
<br>
יש צורך בשליחה ידנית לקופ״ג #{{pFundKey}},
<br><br>

מערכת ט.מ.ל פנסיה


</body>
</html>